/* body {
    display: flex;
    justify-content: center;

    background-color: rgb(50, 54, 94);
    color: antiquewhite;
}

#add-ons {
    display: flex;
    justify-content: space-around;
}

#roll-dice {
    display: flex;
    justify-content: center;
}

#next-roll {
    display: flex;
    justify-content:space-around; 
} */

/* ul {
    display: flex;
    justify-content: center;

} */

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}