body {
    background-color: rgb(50, 54, 94);
    color: antiquewhite;
}

.custom-button-mod {
    background-color: antiquewhite;
    font-weight: bold;
    border: rgb(218, 98, 98) solid;
}
.custom-button-add {
    background-color: antiquewhite;
}

.custom-button-roll {
    background-color: antiquewhite;
}

li {
    font-size: x-large;
    list-style-type: none;
    display: flex;
    justify-content: center;
}